@model IEnumerable<Gallery>
@{
    ViewBag.Title = "DeleteImages";
}

<h2>DeleteImages</h2>

@using (Html.BeginForm("DeleteImages", "Slider", FormMethod.Post))
{
    <table style="background-color:azure" border="1">
        <thead style="background-color:gray">
            <tr>
                <th>Select</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var img in Model) {
            <tr>
                <td>
                    <input type="checkbox" name="ImagesIds" id="ImagesIds" value="@img.GalleryID" />
                </td>
                <td>@img.ImagePath</td>
            </tr>}
        </tbody>
    </table>
    <input type="submit" value="Delete Selected Images"/>
}
<p>@Html.ActionLink("Slider Home","Index","Slider")</p>