@model IEnumerable<Gallery>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Add Image", "AddImage", "Slider",new { id="linkAddimage"},null)
    @Html.ActionLink("Delete Image", "DeleteImages", "Slider", new { id = "linkDeleteimage" }, null)
</p>

@Html.Partial("~/Views/Shared/_SliderPartial.cshtml",Model)